@media only screen and (max-width: 1000px){
    .heroText {
        font-size:10vw;
        /* margin: 15% auto; */
    }
    .headerForms{
        grid-column: 4/10;
    }  
}
@media only screen and (max-width: 700px){
    .heroText {
        font-size:10vw;
        /* margin: 15% auto; */
    }
    .headerForms{
        grid-column: 3/10;
    }  
}
@media(max-width:575.98px){
    .modalBox{
    z-index:999;
    grid-column: 2/10;
    }
    .mobileList{
        display:block;
        
    }
    .menuSpinner{
        display:none;
    }
    .mobileList p{
        text-align:center;
    }
    .sidebarHide{
        transform:translateY(100%)
    }
    .mapWithoutList{
        transform:translateX(0);
        width:100vw;
    }
    .mapWithoutInfo{
        transform:translateX(0);
        width:100vw;
    }
    .sidebar{
        grid-column: 1/11;
    }
    .jobStats{
        grid-column: 1/11;
    }
    .hideList{
        cursor:pointer;
        color:white;
        display:block;
    }
  
    .heroText {
        font-size:12vw
    }
    /* .headerJobTitleInput, .headerJobLocationInput{
        width: 25vw;
        height: 100%;
        box-sizing:border-box;
        grid-column: 1/11;
    } */
    .brand{
        display:none;
    }  
    .headerForms{
        grid-column: 3/11;
    }

}
@media only screen and (max-width: 450px){
    .heroText {
        font-size:10vw;
        /* margin: 15% auto; */
    }
    .headerForms{
        grid-column: 2/10;
    }  
}
@media only screen and (max-width: 380px){
    .heroText {
        font-size:10vw;
        /* margin: 15% auto; */
    }
    .headerForms{
        grid-column: 1/10;
    }  
}