@media only screen and (max-width: 1000px){
    .heroText {
        font-size:10vw;
        /* margin: 15% auto; */
    }
}
@media(max-width:575.98px){
    /* div.tooSmall{
        z-index:999;
        grid-column:1/11;
        grid-row:1/11;
        display:block;
        background-color:#a5fff7;
        text-align:center;
    } */
    .sidebar{
        grid-column: 1/11;
    }
    .jobStats{
        grid-column: 1/11;
    }
    .listReturn{
        cursor:pointer;
        color:white;
        display:block;
    }
    .listReturn:hover{
        color:lightslategray;
        text-shadow: 0px 0px 1vh black;
        text-decoration-style: double
    }
    .heroText {
        font-size:12vw
    }
    .headerJobTitleInput, .headerJobLocationInput{
        width: 25vw;
        height: 100%;
        box-sizing:border-box;
        grid-column: 1/11;
    }
    .brand{
        display:none;
    }  
    .headerForms{
        grid-column: 1/11;
    }  
}
