.landing{
    grid-column:1/11;
    grid-row: 1/11;
    z-index:19;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    transition: ease-in-out 2s;
}
div.bg{
    grid-column: 1/11;
    grid-row: 1/11;
    background-image: url(../assets/images/blueBG.jpg);
    -webkit-filter: blur(5px);
    filter:blur(5px);
    z-index:-1;
    height:110%;
    width: 110%;
}
.hideLanding{
    transform:translateY(-150%);
}

.hero{
    grid-column: 3/9;
    grid-row: 3/7;
    display:grid;
}
.heroText{
    font-family: 'Lobster', cursive;
    margin: auto;
    font-size: 15vh;
    text-align:center;
    text-shadow: 0px 0px 2vh white;
}
@media only screen and (max-width: 1000px){
    .heroText {
        font-size:7vw
    }
}
@media only screen and (max-width:500px){
    div.tooSmall{
        z-index:999;
        grid-column:1/11;
        grid-row:1/11;
        display:block;
        background-color:#a5fff7;
        text-align:center;
    }
}


.forms{
    grid-column: 2/10;
    grid-row: 7/9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.jobTitle{
    grid-column: 1/4;
    grid-row: 1/3;
    border: 2px solid black;
}

input{
    font-family: 'Libre Baskerville', serif;
    text-align:center;
}
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
:-ms-input-placeholder {  
    text-align: center;
}
.jobTitleInput, .jobLocationInput{
    width:100%;
    box-shadow:inset 0px 0px 15px 0px black;
}

.jobLocation{
    grid-column: 5/8;
    grid-row: 1/3;
    border: 2px solid black;
    box-sizing:border-box;
}

.submitSearch{
    cursor:pointer;
    grid-column: 4/5;
    grid-row: 4/6;
    border-style: none;
    background-color:white;
    color:black;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid black;
    border-radius: 8px;
}

.submitSearch:hover {
    background-color: lightsteelblue;
}

.userDirection{
    grid-column: 4/8;
    grid-row: 10/11;
    text-align: center;
    transform: translateY(-50%);
    color: white;
    font-size: 4vmin;
}

.jobLocation, .jobTitle{
    display:flex;
    position:relative;
}
.forms svg {
    margin: 0 1vw;
    height: 100%;
}

.forms .icon {
    background-color:lightgrey;
    border-right: 2px solid black;
    box-sizing: content-box;
}

.jobTitleTooltip, .jobLocationTooltip{
    background-color:#a5fff7;
    position:absolute;
    z-index:99;
    padding: 1vh;
    margin: auto;
    bottom: 130%;
    left: 50%;
    border-radius:12%;
    transition:.5s;
    
}
.jobTitleTooltip::after, .jobLocationTooltip::after {
    content: '';
    position: absolute;
    margin: auto;
    top: 87%;
    left: 27%;
    height: 1vh;
    width: 1vh;
    background-color: inherit;
    transform: rotate(45deg);
}
.noOpacity{
    opacity:0;
}

.noTouch {
    pointer-events: none;
}