.noResultModal{
    grid-column: 1/11;
    grid-row: 1/11;
    z-index:15;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* 10x10 */
}

.fadeOverlay{
    grid-column: 1/11;
    grid-row: 1/11;
    background-color:black;
    opacity:.5;
    z-index:13;
}
.modalBox{
    grid-column: 4/8;
    grid-row: 3/10;
    background-color:darkslategray;
    color: white;
    border:2px solid black;
    box-shadow: 0px 0px 5vh .1vh black;
    border-radius: 8px;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display:grid;
}
 div.text{
    text-align: center;
    grid-column: 2/10;
    grid-row: 5/6;
 }
 .modalEscape{
    grid-column: 10/11;
    background-color: white;
    grid-row: 1/2;
    height: 6vh;
    width: 1vh;
    transform: rotate(45deg);
    cursor:pointer;
}
.modalEscape::after{
    content:'';
    position:absolute;
    margin: auto;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    background-color: inherit;
    transform: rotate(-90deg);
}

.modalEscape:hover {
    background-color: lightslategray;
}

