.aboutContainer{
    grid-column:1/11;
    grid-row: 1/11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* 10x10 */
    z-index: 20;
    background-color: #0075c4;
    transition: 1s;
}
.hideAbout{
    transform:translateY(100%)
}

.aboutBox{
    grid-column: 3/9;
    grid-row: 3/10;
    border: 2px solid black;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.rightBox{
    grid-column: 2/3;
    grid-row: 1/5;
    z-index:5
}
.brian{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index:7
}
.will{
    grid-column: 1/2;
    grid-row: 2/3;
    z-index:7
}
.evan{
    grid-column: 1/2;
    grid-row: 3/4;
    z-index:7
}
.matt{
    grid-column: 1/2;
    grid-row: 4/5;
    z-index:7
}
.aboutItem{
    margin: 1px;
    border: 1px solid black;
}

.rightBox>*{
    height:100%;
    width: 100%;
    transition: ease-in-out 1s;
}

.aboutBrian{
    grid-column: 2/3;
    grid-row: 1/5;
    background-color:greenyellow;
    transition: ease-in-out .7s;
    z-index:6;
}
.aboutWill{
    grid-column: 2/3;
    grid-row: 1/5;
    background-color:white;
    transition: ease-in-out .7s;
    z-index:6;
}
.aboutEvan{
    grid-column: 2/3;
    grid-row: 1/5;
    background-color:grey;
    transition: ease-in-out .7s;
    z-index:6;
}
.aboutMatt{
    grid-column: 2/3;
    grid-row: 1/5;
    background-color:black;
    transition: ease-in-out .7s;
    z-index:6;
}
.hidePeople{
    grid-column: 2/3;
    grid-row: 1/5;
    opacity:0;
    transform: translateX(-70%)
}

.escape{
    grid-column: 9/10;
    background-color: darkgrey;
    grid-row: 2/3;
    height: 6vh;
    width: 1vh;
    transform: rotate(45deg);
    opacity: 0.75;
    cursor:pointer;
}
.escape::after{
    content:'';
    position:absolute;
    margin: auto;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    background-color: inherit;
    transform: rotate(-90deg);
}
.aboutItem h4{
    text-align:center;
}
.aboutItem:hover h4{
    color:white;
    text-shadow: 0px 0px 1vh black;
    text-decoration-style: double
}