.landing{
    grid-column:1/11;
    grid-row: 1/11;
    z-index:19;
    background-color:#0075c4;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* 10x10 */
    transition: ease-in-out 2s;
}

.hideLanding{
    transform:translateY(-100%);
}

.hero{
    /* 5x4 */
    grid-column: 3/9;
    grid-row: 3/7;
    display:grid;
}
.heroText{
    font-family: 'Lobster', cursive;
    margin: auto;
    font-size: 15vh;
}

.forms{
    grid-column: 2/10;
    grid-row: 7/9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* 7x3 */
}
.jobTitle{
    grid-column: 1/4;
    grid-row: 2/3;
    border: 2px solid black;
}

input{
    font-family: 'Libre Baskerville', serif;
}
::-webkit-input-placeholder {
   text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
:-ms-input-placeholder {  
    text-align: center;
}
.jobTitleInput{
    width:80%;
    height: 100%;
    box-sizing:border-box;
}

.jobLocation{
    grid-column: 5/8;
    grid-row: 2/3;
    border: 2px solid black;
}
.jLocationInput{
    width:80%;
    height: 100%;
    box-sizing:border-box;
}

.submitSearch{
    grid-column: 4/5;
    grid-row: 3/4;
    border-style: none;
    background-color:#231651;
    color:white;
    font-family: 'Libre Baskerville', serif;
}

#map {
    height: 100%;
}