html, body{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    display:  grid;
    position:relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* 10x10 grid */
    overflow:hidden;

}

.header{
    grid-column: 1/11;
    grid-row: 1/2;
    border: 2px solid black;
    z-index:15;
    background-color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* 10x4 */
}
.brand{
    grid-column: 2/4;
    grid-row: 2/4;
    border: 2px solid black;

}

.headerJobTitle{
    grid-column: 6/8;
    grid-row: 2/4;
    border: 2px solid black;
}
.headerJobLocation{
    grid-column: 9/11;
    grid-row: 2/4;
    border:2px solid black;
}


.sidebar{
    grid-column: 1/3;
    grid-row: 2/11;
    border: 2px solid black;
    z-index:11;
    background-color:yellow;
    transition:ease-in-out 1s;
}
.jobStats{
    grid-column:9/11;
    grid-row:2/11;
    z-index:11;
    border:2px solid black;
    background-color:white;
    box-shadow:-5px 0px 5px 0px black ;
    transition:ease-in-out 1s;
}
.map{
    background-color: limegreen;
    grid-column: 1/11;
    grid-row: 2/11;
    z-index:10;
    transition:ease-in-out 1s;
    justify-self:center;
    width:60vw;
}
.sidebarHide{
    transform:translateX(-100%);
}
.jobStatsHide{
    transform:translateX(100%);
}
.mapWithoutList{
    transform:translateX(-12.5%);
    width:80vw;
}
.mapWithoutInfo{
    transform:translateX(12.5%);
    width:80vw;
}
.mapWithoutAnything{
    transform:translateX(0);
    width:100%;
}